/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
    /* Space out the masthead */
        margin-bottom: 30px;
    }
}

/* My modify */

pre {
    clear: left;
}

.select-group {
    border-right: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

#generate {
    margin: 10px auto;
}

.select-group label {
    float: left;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .header {
        margin-bottom: 10px;
        text-align: center;
    }

    select {
        clear: right
    }

    .select-group {
        border: none;
    }
    
    .select-group label {
        float: none;
    }

    .last-label {
        margin-left: -15px;
    }
}
