<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Text to ASCII Art</title>

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <div class="container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">Text to ASCII Art</h3>
        <nav>
          <ul class="nav masthead-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="https://github.com/lord63/figlet_web" target="_blank">Github</a></li>
          </ul>
        </nav>
      </div>
    </div>
    {% block body %}{% endblock %}
  </div>
</html>
