{% extends 'base.html' %}
{% block body %}

    <div class="select-group col-md-6">
      <form class="form-horizontal">
      <div class="form-group">
        <label for="font" class="control-label col-md-6">Font:</label>
        <div class="col-md-6">
          <select class="form-control input-sm"  id="font">
            <optgroup label="ANSI FIGlet Fonts">
              <option>3D-ASCII</option>
              <option>ANSI Shadow</option>
              <option>Bloody</option>
              <option>Calvin S</option>
              <option>Delta Corps Priest 1</option>
              <option>Electronic</option>
              <option>Elite</option>
              <option>Stronger Than All</option>
              <option>THIS</option>
              <option>The Edge</option>
            </optgroup>

            <optgroup label="Featured FIGlet Fonts">
              <option>3D Diagonal</option>
              <option>Alpha</option>
              <option>Acrobatic</option>
              <option>Avatar</option>
              <option>Big Money-ne</option>
              <option>Big Money-nw</option>
              <option>Big Money-se</option>
              <option>Big Money-sw</option>
              <option>Big</option>
              <option>Blocks</option>
              <option>Bulbhead</option>
              <option>Cards</option>
              <option>Chiseled</option>
              <option>Crawford2</option>
              <option>Crazy</option>
              <option>Dancing Font</option>
              <option>Doh</option>
              <option>Doom</option>
              <option>Efti Wall</option>
              <option>Epic</option>
              <option>Fire Font-k</option>
              <option>Fire Font-s</option>
              <option>Flower Power</option>
              <option>Fun Face</option>
              <option>Fun Faces</option>
              <option>Ghost</option>
              <option>Graceful</option>
              <option>Graffiti</option>
              <option>Impossible</option>
              <option>Isometric1</option>
              <option>Isometric2</option>
              <option>Isometric3</option>
              <option>Isometric4</option>
              <option>JS Bracket Letters</option>
              <option>Lil Devil</option>
              <option>Merlin1</option>
              <option>Modular</option>
              <option>Ogre</option>
              <option>Patorjk's Cheese</option>
              <option>Patorjk-HeX</option>
              <option>Rectangles</option>
              <option>Slant</option>
              <option>Slant Relief</option>
              <option>Small</option>
              <option>Small Slant</option>
              <option>Small Isometric1</option>
              <option>Soft</option>
              <option>Standard</option>
              <option>Star Wars</option>
              <option>Sub-Zero</option>
              <option>Swamp Land</option>
              <option>Sweet</option>
              <option>Train</option>
              <option>Twisted</option>
              <option>Wet Letter</option>
              <option>Varsity</option>
            </optgroup>

            <optgroup label="Regular FIGlet Fonts">
              <option>1Row</option>
              <option>3-D</option>
              <option>3x5</option>
              <option>4Max</option>
              <option>5 Line Oblique</option>
              <option>AMC 3 Line</option>
              <option>AMC 3 Liv1</option>
              <option>AMC AAA01</option>
              <option>AMC Neko</option>
              <option>AMC Razor</option>
              <option>AMC Razor2</option>
              <option>AMC Slash</option>
              <option>AMC Slider</option>
              <option>AMC Thin</option>
              <option>AMC Tubes</option>
              <option>AMC Untitled</option>
              <option>ASCII New Roman</option>
              <option>Alligator</option>
              <option>Alligator2</option>
              <option>Alphabet</option>
              <option>Arrows</option>
              <option>Banner</option>
              <option>Banner3-D</option>
              <option>Banner3</option>
              <option>Banner4</option>
              <option>Barbwire</option>
              <option>Basic</option>
              <option>Bear</option>
              <option>Bell</option>
              <option>Benjamin</option>
              <option>Big Chief</option>
              <option>Bigfig</option>
              <option>Binary</option>
              <option>Block</option>
              <option>Bolger</option>
              <option>Braced</option>
              <option>Bright</option>
              <option>Broadway KB</option>
              <option>Broadway</option>
              <option>Bubble</option>
              <option>Caligraphy</option>
              <option>Caligraphy2</option>
              <option>Catwalk</option>
              <option>Chunky</option>
              <option>Coinstak</option>
              <option>Cola</option>
              <option>Colossal</option>
              <option>Computer</option>
              <option>Contessa</option>
              <option>Contrast</option>
              <option>Cosmike</option>
              <option>Crawford</option>
              <option>Cricket</option>
              <option>Cursive</option>
              <option>Cyberlarge</option>
              <option>Cybermedium</option>
              <option>Cybersmall</option>
              <option>Cygnet</option>
              <option>DANC4</option>
              <option>DWhistled</option>
              <option>Decimal</option>
              <option>Def Leppard</option>
              <option>Diamond</option>
              <option>Diet Cola</option>
              <option>Digital</option>
              <option>Dot Matrix</option>
              <option>Double Shorts</option>
              <option>Double</option>
              <option>Dr Pepper</option>
              <option>Efti Chess</option>
              <option>Efti Font</option>
              <option>Efti Italic</option>
              <option>Efti Piti</option>
              <option>Efti Robot</option>
              <option>Efti Water</option>
              <option>Fender</option>
              <option>Filter</option>
              <option>Flipped</option>
              <option>Four Tops</option>
              <option>Fraktur</option>
              <option>Fuzzy</option>
              <option>Georgi16</option>
              <option>Georgia11</option>
              <option>Ghoulish</option>
              <option>Glenyn</option>
              <option>Goofy</option>
              <option>Gothic</option>
              <option>Gradient</option>
              <option>Greek</option>
              <option>Heart Left</option>
              <option>Heart Right</option>
              <option>Henry 3D</option>
              <option>Hex</option>
              <option>Hieroglyphs</option>
              <option>Hollywood</option>
              <option>Horizontal Left</option>
              <option>Horizontal Right</option>
              <option>ICL-1900</option>
              <option>Invita</option>
              <option>Italic</option>
              <option>Ivrit</option>
              <option>JS Block Letters</option>
              <option>JS Capital Curves</option>
              <option>JS Cursive</option>
              <option>JS Stick Letters</option>
              <option>Jacky</option>
              <option>Jazmine</option>
              <option>Jerusalem</option>
              <option>Katakana</option>
              <option>Kban</option>
              <option>Keyboard</option>
              <option>Knob</option>
              <option>LCD</option>
              <option>Larry 3D</option>
              <option>Lean</option>
              <option>Letters</option>
              <option>Line Blocks</option>
              <option>Linux</option>
              <option>Lockergnome</option>
              <option>Madrid</option>
              <option>Marquee</option>
              <option>Maxfour</option>
              <option>Merlin2</option>
              <option>Mike</option>
              <option>Mini</option>
              <option>Mirror</option>
              <option>Mnemonic</option>
              <option>Morse</option>
              <option>Moscow</option>
              <option>Mshebrew210</option>
              <option>Muzzle</option>
              <option>NScript</option>
              <option>NT Greek</option>
              <option>NV Script</option>
              <option>Nancyj-Fancy</option>
              <option>Nancyj-Underlined</option>
              <option>Nancyj</option>
              <option>Nipples</option>
              <option>O8</option>
              <option>OS2</option>
              <option>Octal</option>
              <option>Old Banner</option>
              <option>Pawp</option>
              <option>Peaks Slant</option>
              <option>Peaks</option>
              <option>Pebbles</option>
              <option>Pepper</option>
              <option>Poison</option>
              <option>Puffy</option>
              <option>Puzzle</option>
              <option>Pyramid</option>
              <option>Rammstein</option>
              <option>Relief</option>
              <option>Relief2</option>
              <option>Reverse</option>
              <option>Roman</option>
              <option>Rotated</option>
              <option>Rounded</option>
              <option>Rowan Cap</option>
              <option>Rozzo</option>
              <option>Runic</option>
              <option>Runyc</option>
              <option>S Blood</option>
              <option>SL Script</option>
              <option>Santa Clara</option>
              <option>Script</option>
              <option>Serifcap</option>
              <option>Shadow</option>
              <option>Shimrod</option>
              <option>Short</option>
              <option>Slide</option>
              <option>Small Caps</option>
              <option>Small Keyboard</option>
              <option>Small Poison</option>
              <option>Small Script</option>
              <option>Small Shadow</option>
              <option>Small Tengwar</option>
              <option>Speed</option>
              <option>Spliff</option>
              <option>Stacey</option>
              <option>Stampate</option>
              <option>Stampatello</option>
              <option>Star Strips</option>
              <option>Stellar</option>
              <option>Stforek</option>
              <option>Stick Letters</option>
              <option>Stop</option>
              <option>Straight</option>
              <option>Swan</option>
              <option>Tanja</option>
              <option>Tengwar</option>
              <option>Term</option>
              <option>Test1</option>
              <option>Thick</option>
              <option>Thin</option>
              <option>Thorned</option>
              <option>Three Point</option>
              <option>Ticks Slant</option>
              <option>Ticks</option>
              <option>Tiles</option>
              <option>Tinker-Toy</option>
              <option>Tombstone</option>
              <option>Trek</option>
              <option>Tsalagi</option>
              <option>Tubular</option>
              <option>Two Point</option>
              <option>USA Flag</option>
              <option>Univers</option>
              <option>Wavy</option>
              <option>Weird</option>
              <option>Whimsy</option>
              <option>Wow</option>
            </optgroup>

          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="horizontalLayout" class="control-label col-md-6">HorizontalLayout:</label>
        <div class="col-md-6">
          <select class="form-control input-sm" id="horizontalLayout">
            <option>default</option>
            <option>full</option>
            <option>fitted</option>
            <option>controlled smushing</option>
            <option>universal smushing</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="verticalLayout" class="control-label col-md-6">VerticalLayout:</label>
        <div class="col-md-6">
          <select class="form-control input-sm" id="verticalLayout">
            <option>default</option>
            <option>full</option>
            <option>fitted</option>
            <option>controlled smushing</option>
            <option>universal smushin</option>
          </select>
        </div>
      </div>
    </form>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="input" class="control-label">Input Text Below:</label>
        <textarea id="input" class="form-control" rows="3">Hi</textarea>
      </div>
    </div>

    <div class="result">
      <pre></pre>
    </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/figlet.js') }}"></script>
  <script src="{{ url_for('static', filename='js/figlet_web.js') }}"></script>
{% endblock %}
