{% extends 'base.html' %}
{% block body %}

    <div class="select-group form-horizontal col-md-6">

      <div class="form-group">
        <label for="font">Font:</label>
        <div class="col-md-6">
          <select class="form-control input-sm"  id="font">
            <option>3D-ASCII</option>
            <option>Bigfig</option>
            <option>Crazy</option>
            <option>Fire Font-k</option>
            <option>Wow</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="horizontalLayout">HorizontalLayout:</label>
        <div class="col-md-6">
          <select class="form-control input-sm" id="horizontalLayout">
            <option>default</option>
            <option>full</option>
            <option>fitted</option>
            <option>controlled smushing</option>
            <option>universal smushing</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="verticalLayout">VerticalLayout:</label>
        <div class="col-md-6">
          <select class="form-control input-sm" id="verticalLayout">
            <option>default</option>
            <option>full</option>
            <option>fitted</option>
            <option>controlled smushing</option>
            <option>universal smushin</option>
          </select>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="input" class="last-label">Input Text Below:</label>
        <textarea id="input" class="form-contrl" rows="4">Try it now</textarea>
      </div>
    </div>

    <div class="result">
      <pre></pre>
    </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/figlet.js') }}"></script>
  <script src="{{ url_for('static', filename='js/figlet_web.js') }}"></script>
{% endblock %}
